In [107]:
# standard library imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Steps
### 1. Split the data into features and labels (X and y)
### 2. Filling (aslo called Imputing) or discarding missing values
### 3. Converting non-numerical values to numerical values (Feature encoding)

In [108]:
heart_disease = pd.read_csv("heart-disease.csv")

In [109]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [110]:
# Features
X = heart_disease.drop('target', axis=1)

In [111]:
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [112]:
# Split the data into train and test datasets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [113]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [114]:
X.shape

(303, 13)

In [115]:
len(heart_disease)

303

In [116]:
# 1.1 Make sure its numerical data

In [117]:
car_sales = pd.read_csv("data/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [118]:
len(car_sales)

1000

In [119]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [120]:
# Split into X, y
X = car_sales.drop('Price', axis=1)
y = car_sales['Price']

In [121]:
# Split into train and test
X_train, Y_train, x_test, y_test = train_test_split(X, y, test_size=0.2)

In [122]:
from sklearn.ensemble import RandomForestRegressor

In [123]:
model = RandomForestRegressor()
# model.fit(X_train, y_train)
# model.score(X_test, y_test)

In [124]:
# Turn categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, categorical_features)], remainder='passthrough')

transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [125]:
transformed_X = pd.DataFrame(transformed_X)

In [126]:
dummies = pd.get_dummies(car_sales[['Make','Colour', 'Doors']])

In [127]:
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [128]:
# Refit the model
# X = transformed_X
np.random.seed(42)
X_train, Y_train, x_test, y_test = train_test_split(transformed_X, y, test_size=0.2)
X_train.shape, Y_train.shape, x_test.shape, y_test.shape

((800, 13), (200, 13), (800,), (200,))

In [129]:
# model.fit(X_train, y_train)

## Missing Values?

In [130]:
car_sales_missing = pd.read_csv("data/car-sales-extended-missing-data.csv")

In [131]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [132]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [133]:
# convert missing data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

In [134]:
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
X_train.shape, Y_train.shape, x_test.shape, y_test.shape

((800, 16), (200, 13), (800,), (200,))

In [135]:
# model.fit(X_train, y_train)

In [136]:
# model.score(X_test, y_test)

In [137]:
# Fill missing data (!=1)
# Fill the Make column
car_sales_missing['Make'].fillna("missing", inplace=True) 
car_sales_missing['Colour'].fillna("missing", inplace=True) 
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)
car_sales_missing['Doors'].fillna(4, inplace=True)

In [138]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [139]:
# Remove the missing prices rows
car_sales_missing.dropna(inplace=True)

In [140]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [141]:
len(car_sales_missing)

950

In [142]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [143]:
# convert missing data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder="passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [144]:
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
X_train.shape, Y_train.shape, x_test.shape, y_test.shape

((760, 15), (200, 13), (800,), (190,))

In [145]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [146]:
model.score(X_test, y_test)

0.22011714008302485

#### Fill missing values with Scikit-Learn

In [147]:
car_sales_missing_one = pd.read_csv("data/car-sales-extended-missing-data.csv")

In [148]:
car_sales_missing_one.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [149]:
car_sales_missing_one.dropna(subset=["Price"], inplace=True)

In [150]:
car_sales_missing_one.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [151]:
# Split X, y
X = car_sales_missing_one.drop("Price", axis=1)
y = car_sales_missing_one["Price"]

In [152]:
# Filling missing values using scikit learn

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


# Fill categorical values with 'missing' and numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
numerical_imputer = SimpleImputer(strategy="mean")

# Define columns
cat_features = ["Make", "Colour"]
door_feature = ["Doors"]
num_features = ["Odometer (KM)"]

# Create Imputer (Something that fills missing data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("numerical_imputer", door_imputer, num_features),
])

filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [153]:
car_sales_filled = pd.DataFrame(filled_X, columns=["Make", "Colour", "Doors", "Odometer (KM)"])
car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [170]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
Price            0
dtype: int64